#adding-dash{
  text-align: center;
  font-size: 24px;
  color: white;
  margin-bottom: 0px;
}

#sub-header-adding{
  color: white;
  margin-top: 0px;
  padding: 0px;
  text-align: center;
}

.adding-container{
  max-width: 100vw;
  margin-bottom: 25px;
}

#search-container{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  padding-bottom: 20px;
}

#adding-wrapper{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
}

#dash-back{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  min-height: 100vh;
  background-color: #000;
}

#top-adding-container{
  max-height: fit-content;
}

.next-track-container{
  margin-bottom: 20px;
}

.adding-inner-container{
  transition: background 1s ease-in-out;
  width: 100vw;
  min-height: 100vh;
  display : flex;
  flex-direction : column;
  align-items : center;
  justify-content: center;
}

.track-list-container{
  display : flex;
  flex-direction : column;
  gap: 5px;
}

#next-button{
    position: absolute;
    top: 50%;
    right: 3.5%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 70px;
    color: whitesmoke;
}

@media screen and (max-width: 680px) {
  #adding-dash{
    margin-top: 60px;
  }
}