.dash-back{
  background-color: #123;
}

.dashboard-container{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
}

.track-list-container{
  width: 75vw;
}

@media screen and (min-width : 600px) {
  .track-list-container{
    width: 75vw;
    align-self: center;
  }
}
