#dash-container{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  height: 100vh;
  max-width: 100vw;
  background-color: #000000;
}

h3#room-dash{
  font-size: 20px;
}

#container-dash-top{
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
  gap: 8vw;
}

#container-dash-left{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
}

#container-dash-right{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
}

.track-dash-container{
  margin-top: 40px;
  padding: 20px;
  border: 2px white solid;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 265px;
  display : flex;
  flex-direction : column;
  gap: 10px;
  max-width: 99vw;
}

.track-dash-container:before {
  content: 'Queue';
  position: fixed;
  color: white;
  font-size: 18px;
  width: 100px;
  height: 20px;
  text-align: center;
  background-color: #000;
  top: 52.8%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.button-dash{
  margin-top: 15px;
  color: white;
  font-size: 18px;
  padding: 6px;
  width: 20vw;
  border: 2px white solid;
  border-radius: 6px;
  background-color: black;
  cursor: pointer;
}

#room-dash{
  color: white;
  align-self: center;
}

@media screen and (max-width : 650px) {
  .button-dash{
    width: 30vw;
  }
  .track-dash-container{
    max-width: 85vw;
  }
}