#dash-container{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  height: 100vh;
  max-width: 100vw;
  background-color: #000000;
}


h3#room-dash{
  font-size: 20px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#container-dash-top{
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
  gap: 8vw;
}

#container-dash-left{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
}

#container-dash-right{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  min-width: 40vw;
}

.track-dash-container{
  min-height: 25vh;
  min-width: 68vw;
  max-height: 265px;
  position: relative;
  margin-top: 40px;
  padding: 10px 20px 10px 20px;
  border: 2px white solid;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  display : flex;
  flex-direction : column;
  gap: 10px;
}

.button-dash{
  margin-top: 15px;
  color: white;
  font-size: 18px;
  padding: 6px;
  width: 20vw;
  border: 2px white solid;
  border-radius: 6px;
  background-color: black;
  cursor: pointer;
}

#room-dash{
  color: white;
  align-self: center;
}

@media screen and (max-width : 650px) {
  h3#room-dash{
    margin-bottom: 20px;
  }

  .track-dash-container{
    max-width: 80vw;
  }
  #container-dash-top{
    flex-direction : column;
  }
  #dash-container{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    height: 100vh;
    background-color: #000000;
  }
  .button-dash{
    width: 45vw;
  }

  #dash-qr{
    width: 150px;
    aspect-ratio: 1/1;
  }
}