h1#top-header {
  color: white;
  margin: 0;
  padding: 30px 0px 10px 0px;
  margin-left: 40px;
  margin-right: 20px;
  position: relative;
  border-bottom: white 1.5px solid;
  width: fit-content;
  z-index: 3;
}

#sound-wave{
  left: 100px;
  position: absolute;
}

#top-svg{
  position: absolute;
  z-index: 0;
}

#top-wrapper {
  background-color: #3d1053;
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
  position: relative;
}

.logout{
  border: none;
  margin-top: 5px;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}

#svg-top{
  margin-top: -1px;
}

.login{
  margin-right: 60px;
  margin-top: 20px;
  background-color: white;
  text-decoration: none;
  border:none;
  padding: 10px 14px 10px 14px;
  border-radius: 6px;
  color: #0e2c44;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  box-shadow: inset 1px 2px 4px 0px rgba(0,0,0,0.5);
  font-family:'PublicPixel';
}

span#hey-user{
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.nologin{
  text-decoration: none;
  background-color: white;
  background-color: white;
  text-decoration: none;
  border:none;
  padding: 4px;
  margin-top: 4px;
  border-radius: 6px;
  color: #0e2c44;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  font-family:'PublicPixel';
}

#logged{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  margin-right: 20px;
  z-index: 3;
}

#connect-spotify{
  color: pink;
}
#connect-spotify:visited{
  color: rgb(226, 169, 179);
}

.musiq{
  background-color: white;
  color: #3d1053;
  padding: 4px 8px 4px 8px;
  border-radius: 6px;
  font-family:'PublicPixel';
  font-size: 28px;
}

#section-1{
  display : flex;
  flex-direction : row;
  justify-content : space-around;
  align-items : center;
  padding-bottom: 20px;
}

h2#section-1-header{
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  color: #0e2c44;
  margin-top: 0px;
}

#section-1 > img#user-view{
  margin-top: 0px;
  max-width: 600px;
  max-height: 600px;
}

#section-1-subheader{
 color: #04080c;
}

.perfect{
  text-transform: uppercase;
  color: #3d1053;
  letter-spacing: 2px;
  padding-left: 2px;
  font-family:'PublicPixel';
  font-size: 23px;
}

#section-2{
  background-color: #94457e;
  margin-top: -8vh ;
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  padding-bottom: 60px;
 }


.points-section-2{
  font-size: 20px;
  font-weight: 400;
}

.down-arrow{
  font-size: 26px;
  font-weight: 400;
}

#section-3{
  background-color: #3d1053;
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
  gap: 20vw;
  padding-bottom: 60px;
  padding-top: 60px;
  color: white;
 }

#wrapper-left-section-3{
  display : flex;
  flex-direction : column;
  gap: 40px;
  justify-content : center;
  align-items : flex-start;
}

#wrapper-right-section-3{
  position: relative;
  max-width: 25vw;
  min-width: 260px;
  aspect-ratio: 1 / 2;
  border-radius: 38.5px;
}

#top-phone-home{
  width: 100px;
  height: 22px;
  background-color: #3d1053;
  left: 50%;
  transform: translate(-50%);
  border-radius: 0px 0px 15px 15px;
  position: absolute;
}

#speaker-phone-home{
  width: 40%;
  height: 5px;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #4e146f;
  position: absolute;
}

#camera-phone-home{
  width: 7px;
  height: 7px;
  top: 50%;
  left: 73%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #4e146f;
  position: absolute;
}

.option-button-home{
  border: none;
  background: none;
  color: white;
  font-size: 24px;
  transition: all .2s;
}

.option-button-home:hover{
  text-decoration: underline;
  cursor: pointer;
}

.active{
  text-decoration: underline;
}

#selection-phone{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  animation: fade-in-right 1s ease-in-out;
}

@keyframes fade-in-right {
  0% {
    transform: translateX(50px) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}


@media screen and (min-width : 620px) {
  
  #logged{
    margin-right: 60px;
    margin-top: 30px;
  }

  #section-1{
    padding-bottom: 70px;
  }

  #section-1-left{
    width: 30vw;
  }

  h2#section-1-header{
    text-align: left;
  }

  .points-section-2{
    background-color: white;
    max-width: 200px;
    min-width: 85px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
  }
  #wrapper-section-2{
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
    gap: 1vw;
    padding-right: 25px;
    padding-left: 25px;
  }
  .down-arrow{
    visibility: hidden;
  }
  
}

@media screen and (max-width : 680px) {
  
  h1#top-header{
    border-bottom: none;
  }
}


@media screen and (max-width : 620px) {
  
  #top-wrapper {
    flex-direction : column;
  }

  h1#top-header{
  text-align: center;
  border-bottom: none;
  line-height: 35px;
  padding-bottom: 20px;
  font-size: 20px;
  } 

  .login{
    margin-bottom: 20px;
    margin-right: 0px;
  }

  #logged{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    padding-bottom: 20px;
  }

  #section-1{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
  }

  #section-1-left{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    text-align: center;
    width: 80vw;
  }

  #section-1 > img{
    margin-top: 50px;
  }

  #section-2{
    margin-top: -3vh;
  }

  #wrapper-section-2{
    width: 80vw;
    background-color: white;
    border-radius: 20px;
    display : flex;
    flex-direction : column;
    justify-content : space-around;
    align-items : center;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

   #section-3{
    gap: 6vw;
  }

  #wrapper-right-section-3{
    margin-right: 10px;
  }

  .option-button-home{
    font-size: 20px;
  }
}