h1#top-header {
  background-color: #52B69A;
  color: white;
  margin: 0;
  padding: 30px 0px 10px 0px;
  margin-left: 40px;
  border-bottom: white 1.5px solid;
  width: fit-content;
}

#top-wrapper {
  background-color: #52B69A;
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
}

#svg-top{
  margin-top: -1px;
}

.login{
  margin-right: 60px;
  margin-top: 20px;
  background-color: white;
  text-decoration: none;
  border:none;
  padding: 10px 14px 10px 14px;
  border-radius: 6px;
  color: #0e2c44;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  box-shadow: inset 1px 2px 4px 0px rgba(0,0,0,0.5);
  font-family:'PublicPixel';
}

span#hey-user{
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.nologin{
  text-decoration: none;
  background-color: white;
  background-color: white;
  text-decoration: none;
  border:none;
  padding: 4px;
  margin-top: 4px;
  border-radius: 6px;
  color: #0e2c44;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  font-family:'PublicPixel';
}

#logged{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  margin-right: 20px;
}

span.musiq{
  background-color: white;
  color: #52B69A;
  padding: 4px 8px 4px 8px;
  border-radius: 6px;
  font-family:'PublicPixel';
  font-size: 28px;
}

#section-1{
  display : flex;
  flex-direction : row;
  justify-content : space-around;
  align-items : center;
  padding-bottom: 40px;
}

h2#section-1-header{
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  color: #0e2c44;
  margin-top: 0px;
}

#section-1 > img{
  margin-top: 50px;
}

#section-1-subheader{
 color: #113655;
}

.perfect{
  text-transform: uppercase;
  color: #52B69A;
  letter-spacing: 2px;
  padding-left: 2px;
  font-family:'PublicPixel';
  font-size: 23px;
}

#section-2{
  background-color: #52B69A;
  margin-top: -10px;
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  padding-bottom: 60px;
 }

 #wrapper-section-2{
  width: 80vw;
  background-color: white;
  border-radius: 20px;
  display : flex;
  flex-direction : column;
  justify-content : space-around;
  align-items : center;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
 }

.points-section-2{
  font-size: 20px;
  font-weight: 400;
}

.down-arrow{
  font-size: 26px;
  font-weight: 400;
}

@media screen and (min-width : 600px) {
  
  #logged{
    margin-right: 60px;
    margin-top: 30px;
  }

  #section-1{
    padding-bottom: 70px;
  }

  #section-1-left{
    width: 30vw;
  }

  h2#section-1-header{
    text-align: left;
  }
}

@media screen and (max-width : 674px) {
  
  h1#top-header{
    border-bottom: none;
  }
}


@media screen and (max-width : 600px) {
  
  #top-wrapper {
    flex-direction : column;
  }

  h1#top-header{
  width: 180px;
  border-bottom: none;
  line-height: 35px;
  padding-bottom: 20px;
  font-size: 20px;
  } 

  .login{
  margin-right: 40px;
  padding-bottom: 20px;
  }

  #logged{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    padding-bottom: 20px;
  }

  #section-1{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
  }

  #section-1-left{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    text-align: center;
    width: 80vw;
  }

  #section-1 > img{
    margin-top: 50px;
  }

}