h1#owner-heading{
  text-align: center;
  color: white;
}

#owner-background{
  height: 100vh;
  background-color: #1e453a;
}

form#owner-options{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  gap: 7px;
}

#owner-options > label {
  color: white;
  font-weight: 500;
  font-size: 16px;
  align-self: flex-start;
}

#owner-options > select {
  font-weight: 500;
  font-size: 16px;
  padding: 4px;
  border-radius: 6px;
  border: none;
  margin-bottom: 10px;
}

#owner-options > input {
  font-weight: 500;
  font-size: 16px;
  padding: 4px;
  border-radius: 6px;
  border: none;
}

div#owner-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 12px;
  background-color: #52B69A;
  border: 2px white solid;
}

input#submit-party{
  background-color: white;
  font-family:'PublicPixel';
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
}


@media screen and (max-width : 650px) {
  div#owner-wrapper{
    width: 75vw;
  }
}