#footer{
  font-family: 'PublicPixel';
  font-size: 14px;
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  padding: 30px;
  gap: 10px;
}

#footer > span {
  text-align: center;
}