.main-container-nav{
  min-width: 100vw;
  min-height: 50px;
  background-color: #94457e;
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
}

.transparent-nav{
  background-color: transparent;
  border-bottom: 2px white solid;
}

#nav-logo{
  margin-left: 20px;
  text-decoration: none;
}

@media screen and (max-width : 680px) {
  .main-container-nav{
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
  }
  .transparent-nav{
  background-color: #94457e;
  border-bottom: 2px white solid;
}
}