#main-container-nav{
  min-width: 100vw;
  min-height: 50px;
  background-color: #52B69A;
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
}
#nav-logo{
  margin-left: 20px;
  text-decoration: none;
}