.track-next{
  background: rgba(0,0,0,0.2);
  margin-bottom: 5px;
  border-radius: 10px;
  border: 2px white solid;
  grid-column-gap: 20px;
  padding: 7px ;
  padding-top: 25px;
  padding-bottom: 15px;
  min-width: 30vw;
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  color: white;
}

.next-central{
  margin-top: 10px;
}

.next-song-name{
  font-weight: 600;
  font-size: 20px;
}

img.cover-next{
  height: 200px;
  width: 200px;
  line-height: 50px;
  text-align: center;
  border-radius: 6px;
}

@media screen and (max-width : 650px) {
  .track-next{
    min-width: 40vw;
  }
  img.cover-next{
    height: 100px;
    width: 100px;
    line-height: 50px;
    text-align: center;
  }
}