.track-next{
  background: rgba(0,0,0,0.2);
  margin-bottom: 5px;
  border-radius: 10px;
  border: 2px white solid;
  grid-column-gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 75vw;
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  color: white;
}

img.cover-next{
  min-height:200px;
  min-width:200px;
  max-height:200px;
  max-width:200px;
  line-height: 50px;
  text-align: center;
}

@media screen and (max-width : 650px) {
  .track-next{
    min-width: 99vw;
  }
}