.searchtrack-container{
  background: rgba(0,0,0,0.4);
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  border-radius: 6px;
  color: white;
  grid-template-columns: 75px minmax(120px, auto) 75px;
  grid-column-gap: 20px;
  gap: 20px;
  width: 200px;
  max-width: 75vw;
}

.cover-search{
  aspect-ratio: auto;
  height: 200px;
  width: 200px;
  border-radius: 6px;
}

.central-info-search{
  height: 50px;
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
}