.searchtrack-container{
  background: rgb(43, 43, 43);
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  border-radius: 6px;
  color: white;
  gap: 20px;
  width: 200px;
  max-width: 75vw;
}

.cover-search{
  height: 200px;
  width: 200px;
  border-radius: 6px;
}

.central-info-search{
  height: 50px;
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
}

@media screen and (max-width : 780px) {
  .searchtrack-container{
    background: rgb(43, 43, 43);
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    gap: 20px;
    width: 85vw;
    height: 100px;
    max-width: 85vw;
  }

  .artist-cover-search{
    align-self: center;
  }

  .cover-search{
    height: 100px;
    width: 100px;
    border-radius: 6px;
    align-self: center;
  }
}