.track-container{
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 75px minmax(120px, auto) 75px;
  grid-column-gap: minmax(20px,50px);
  align-items: center;
  justify-items: center;
  min-width: 75vw;
  max-width: 70vw;
}

.central-info-list{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  min-width: 150px;
}

.minutes-left-list{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
}

.minutes-left-num {
  font-weight: 700;
}

@media screen and (max-width : 650px) {
  .track-container{
    min-width: 100vw;
  }
}