.track-container{
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.artist-cover-list{
  padding-left: 7px;
}

.central-info-list{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
}

.minutes-left-list{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  padding-right: 7px;
}

.minutes-left-num {
  font-weight: 700;
}